*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Georgia, serif;
  scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: aliceblue;
  -webkit-box-shadow: 0 0 0 1000px #3d3d3d inset;
  box-shadow: 0 0 0 1000px #3d3d3d inset;
  transition: background-color 0s ease-in-out 0s;
}

body {
  margin: 0 auto;
  background-color: aliceblue;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}